<footer>
  <section  id ="contact">
    <div class="container new-content-block">
      <div class="row d-flex justify-content-center">
        <h4> Kontakt</h4>
      </div>
      <div class="row d-flex justify-content-center"></div>
        <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
          <!-- <p class="text-center">
              TEXT TEXT TEXT
          </p> -->
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-8 col-md-3 col-lg-2">
          <i class="fa text-center fa-envelope fa-3x mx-auto d-block" aria-hidden="true"></i>
        <p class='text-center'> {{ site.email }} </p>
        </div>
        <div class="col-12 col-sm-8 col-md-3 col-lg-2">
          <i class="fa text-center fa-mobile fa-3x mx-auto d-block" aria-hidden="true"></i>
          <p class='text-center'> {{ site.phone }} </p>
        </div>
        <div class="col-12 col-sm-8 col-md-3 col-lg-2">
          <i class="fa text-center fa-info-circle fa-3x mx-auto d-block" aria-hidden="true"></i>
          <p class='text-center'><a href="{{ site.url }}/impressum">Impressum</a></p>
        </div>
      </div>
    </div>
  </section>
</footer>