<footer>
  <section  id ="contact">
    <div class="container new-content-block">
      <div class="row d-flex justify-content-center">
        <h4> Kontakt </h4>
      </div>
      <div class="row d-flex justify-content-center"></div>
        <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
          <p class="text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque diam neque, suscipit sit amet accumsan non, tempus nec dui. Mauris metus est, tempor sed sem sed, posuere dictum arcu. Praesent cursus eros quis placerat facilisis. Phasellus lobortis eget libero nec aliquet. Fusce dolor ex, rutrum eu diam a, venenatis rhoncus purus. Maecenas pretium orci id dolor dignissim, nec imperdiet libero ultricies. Nullam ornare iaculis cursus. Duis in tortor porta odio hendrerit tristique. Donec non arcu magna. Duis ac scelerisque mi, at malesuada diam. Nam tempus efficitur tellus sit amet bibendum.
          </p>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-8 col-md-3 col-lg-2">
          <i class="fa text-center fa-envelope fa-3x mx-auto d-block" aria-hidden="true"></i>
        <p class='text-center'> siegfried@klock.de </p>
        </div>
        <div class="col-12 col-sm-8 col-md-3 col-lg-2">
          <i class="fa text-center fa-mobile fa-3x mx-auto d-block" aria-hidden="true"></i>
          <p class='text-center'> +123456789 </p>
        </div>
        <div class="col-12 col-sm-8 col-md-3 col-lg-2">
          <i class="fa text-center fa-info-circle fa-3x mx-auto d-block" aria-hidden="true"></i>
          <p class='text-center'><a href="{{ site.url }}/{{site.hash}}/impressum">Impressum</a></p>
        </div>
      </div>
    </div>
  </section>
</footer>