---
layout: wrapper
---

<section class="background-blue" id ="gallery">
    <div class="container new-content-block">
      <div class="row">
        <div class="col-12">
          <div class="row vcenter justify-content-center">
          <div class="col-12">
            <div class="image-container-center">
              <img class="mx-auto d-block" src="{{ site.baseurl }}/assets/gallery/{{ page.name }}" width="300">
            </div>
            <div class="image-description text-center">
              {{ page.content }}
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>