---
layout: wrapper
---

<section class="background-red">
    <div class="container new-content-block">

        <div class="row justify-content-center vcenter">
            {% if page.image %}
            <div class="col-md-auto image-container-center justify-content-center">
              <img class="mx-auto d-block poem-image" src="{{ site.baseurl }}/assets/images/{{ page.image }}" alt="Foto {{ pages.title }}">
            </div>
            {% endif %}
            <div class="col-md-auto">
              <h4> {{ page.title }} </h4>
              <p> <i> am {{ page.date | date: "%d.%m.%Y" }} veröffentlicht. </i> </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto">
                {{ page.content }}
            </div>
        </div>
        <div class="row col-lg-10 justify-content-end">
            <div class="text-right col-md-auto">
                - <strong>{{ page.author }}</strong>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="text-right col-md-auto">
                Creative Lizenz: <a href={{ page.license_link }}> {{ page.license_name }}</a>
            </div>
        </div>
    </div>
</section>